body {
    margin: 0;
    padding: 0;


}

.head-acc a:hover {
    color: white;
    background: black;
    border-radius: 5px;
}

header {
    background-color: white;
}


.par-text {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    /* stretches text across the line */
    text-justify: inter-word;
    /* distributes spaces between words */
    line-height: 1.6;
    /* improves readability */
    padding: 1rem;
    /* base font size */

}

/* Responsive adjustments */
@media (max-width: 1030px) {
    .par-text .spn {
        display: none;
    }
}

@media (max-width: 520px) {
    .spn2 {
        display: none;
    }
}




footer p {
    margin-top: 4%;
    margin-bottom: 0;
    padding: 30px 0;
    background-color: rgb(233, 235, 237);

}









@media (max-width:991px) and (min-width:318px) {
    .collapse {
        position: absolute;
        z-index: 1000;
        top: 80%;

        padding-left: 5%;

        background-color: white;
        width: 40%;
        opacity: 0.9;
    }



}