body {
    margin: 0;
    padding: 0;


}

.head-acc a:hover {
    color: white;
    background: black;
    border-radius: 5px;
}

header {
    background-color: white;
}

main img {
    max-height: 200px;
}


.container img {
    max-width: 100px;
}


footer p {
    margin-top: 4%;
    margin-bottom: 0;
    padding: 30px 0;
    background-color: rgb(233, 235, 237);

}




@media (min-width: 768px) and (max-width: 991.98px) {
    .cost-contai {
        width: 70%;
    }

    /* smaller width only on md screens */



}




@media (max-width:991px) and (min-width:318px) {
    .collapse {
        position: absolute;
        z-index: 1000;
        top: 80%;

        padding-left: 5%;

        background-color: white;
        width: 40%;
        opacity: 0.9;
    }



}