body {
    margin: 0;
    padding: 0;
    height: 300em;

}

.head-acc a:hover {
    color: white;
    background: black;
    border-radius: 5px;
}

header {
    background-color: white;
}

.custom-img {


    max-height: 700px;
    /* responsive limit */
    width: 100%;
    /* full width */
    object-fit: cover;
    /* crop nicely */
}

main a {
    text-decoration: none;
    color: black;
}

.bod-link a {
    border: 2px solid black;
    border-radius: 5px;
    padding: 1%;
}


.bod-link a:hover {
    color: white;
    background-color: black;
}

/* ---------------cards---------------- */

main .card-last img {
    max-height: 250px;
    padding: 10px 10px;
}

footer p {
    padding: 30px 0;
    background-color: rgb(233, 235, 237);

}
















@media (max-width: 426px) and (min-width:318px) {
    .card-img-overlay .card-title {
        font-size: 15px;
        padding-top: 4%;

    }

    .card-text {
        display: none;
    }


}

@media (max-width:991px) and (min-width:318px) {
    .collapse {
        position: absolute;
        z-index: 1000;
        top: 80%;

        padding-left: 5%;

        background-color: white;
        width: 40%;
        opacity: 0.9;
    }



}